
@{
    ViewBag.Title = "Medicos";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-6">
        <div id="panel-1" class="panel">
            <div class="panel-hdr">
                <h2>
                    Por ubicación
                </h2>
                <div class="panel-toolbar pr-3 align-self-end">
                    <ul id="demo_panel-tabs" class="nav nav-tabs border-bottom-0" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" data-toggle="tab" href="#tab_medico_ubicacion" role="tab">Dashboard</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#tab_medico_ubicacion_detalle" role="tab">Detalle</a>
                        </li>
                    </ul>
                </div>
                <div class="panel-toolbar">
                    <button class="btn btn-panel" data-action="panel-collapse" data-toggle="tooltip" data-offset="0,10" data-original-title="Collapse"></button>
                    <button class="btn btn-panel" data-action="panel-fullscreen" data-toggle="tooltip" data-offset="0,10" data-original-title="Fullscreen" onclick="ListarMedicoUbicacion();"></button>
                    <button class="btn btn-panel" data-action="panel-close" data-toggle="tooltip" data-offset="0,10" data-original-title="Close"></button>
                </div>
            </div>
            <div class="panel-container show">
                <div class="panel-content">
                    <div class="tab-content p-3">
                        <div class="tab-pane fade show active" id="tab_medico_ubicacion" role="tabpanel">
                            <div id="dashboard-ubicacion" style="min-height: 300px;"></div>
                        </div>
                        <div class="tab-pane fade" id="tab_medico_ubicacion_detalle" role="tabpanel">
                            <div class="table-responsive">
                                <table class="table table-striped dt-responsive nowrap dataTable no-footer dtr-inline" id="dt-tabla-ubicacion" width="100%">
                                    <thead>
                                        <tr>
                                            <th>Item</th>
                                            <th>Departamento</th>
                                            <th>Cantidad</th>
                                        </tr>
                                    </thead>
                                    <tbody></tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-6">
        <div id="panel-2" class="panel">
            <div class="panel-hdr">
                <h2>
                    Por tipo de especialidad
                </h2>
                <div class="panel-toolbar pr-3 align-self-end">
                    <ul id="demo_panel-tabs" class="nav nav-tabs border-bottom-0" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" data-toggle="tab" href="#tab_medico_especialidad" role="tab">Dashboard</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#tab_medico_especialidad_detalle" role="tab">Detalle</a>
                        </li>
                    </ul>
                </div>
                <div class="panel-toolbar">
                    <button class="btn btn-panel" data-action="panel-collapse" data-toggle="tooltip" data-offset="0,10" data-original-title="Collapse"></button>
                    <button class="btn btn-panel" data-action="panel-fullscreen" data-toggle="tooltip" data-offset="0,10" data-original-title="Fullscreen" onclick="ListarMedicoEspecialidad();"></button>
                    <button class="btn btn-panel" data-action="panel-close" data-toggle="tooltip" data-offset="0,10" data-original-title="Close"></button>
                </div>
            </div>
            <div class="panel-container show">
                <div class="panel-content">
                    <div class="tab-content p-3 @if (@ViewBag.IdPerfilIN == 2) { @Html.Raw("tab-print") }">
                        <div class="tab-pane fade show active" id="tab_medico_especialidad" role="tabpanel">
                            <div id="dashboard-especialidad" style="min-height: 300px;"></div>
                        </div>
                        <div class="tab-pane fade" id="tab_medico_especialidad_detalle" role="tabpanel">
                            <div class="table-responsive">
                                <table class="table table-striped dt-responsive nowrap dataTable no-footer dtr-inline" id="dt-tabla-especialidad" width="100%">
                                    <thead>
                                        <tr>
                                            <th>Item</th>
                                            <th>Tipo empresa</th>
                                            <th>Cantidad</th>
                                        </tr>
                                    </thead>
                                    <tbody></tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-6">
        <div id="panel-3" class="panel">
            <div class="panel-hdr">
                <h2>
                    Por grado
                </h2>
                <div class="panel-toolbar pr-3 align-self-end">
                    <ul id="demo_panel-tabs" class="nav nav-tabs border-bottom-0" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" data-toggle="tab" href="#tab_medico_grado" role="tab">Dashboard</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#tab_medico_grado_detalle" role="tab">Detalle</a>
                        </li>
                    </ul>
                </div>
                <div class="panel-toolbar">
                    <button class="btn btn-panel" data-action="panel-collapse" data-toggle="tooltip" data-offset="0,10" data-original-title="Collapse"></button>
                    <button class="btn btn-panel" data-action="panel-fullscreen" data-toggle="tooltip" data-offset="0,10" data-original-title="Fullscreen" onclick="ListarMedicoGrado();"></button>
                    <button class="btn btn-panel" data-action="panel-close" data-toggle="tooltip" data-offset="0,10" data-original-title="Close"></button>
                </div>
            </div>
            <div class="panel-container show">
                <div class="panel-content">
                    <div class="tab-content p-3 @if (@ViewBag.IdPerfilIN == 2) { @Html.Raw("tab-print") }">
                        <div class="tab-pane fade show active" id="tab_medico_grado" role="tabpanel">
                            <div id="dashboard-grado" style="min-height: 300px;"></div>
                        </div>
                        <div class="tab-pane fade" id="tab_medico_grado_detalle" role="tabpanel">
                            <div class="table-responsive">
                                <table class="table table-striped dt-responsive nowrap dataTable no-footer dtr-inline" id="dt-tabla-grado" width="100%">
                                    <thead>
                                        <tr>
                                            <th>Item</th>
                                            <th>Sexo</th>
                                            <th>Cantidad</th>
                                        </tr>
                                    </thead>
                                    <tbody></tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-6">
        <div id="panel-4" class="panel">
            <div class="panel-hdr">
                <h2>
                    Por estado
                </h2>
                <div class="panel-toolbar pr-3 align-self-end">
                    <ul id="demo_panel-tabs" class="nav nav-tabs border-bottom-0" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" data-toggle="tab" href="#tab_medico_estado" role="tab">Dashboard</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#tab_medico_estado_detalle" role="tab">Detalle</a>
                        </li>
                    </ul>
                </div>
                <div class="panel-toolbar">
                    <button class="btn btn-panel" data-action="panel-collapse" data-toggle="tooltip" data-offset="0,10" data-original-title="Collapse"></button>
                    <button class="btn btn-panel" data-action="panel-fullscreen" data-toggle="tooltip" data-offset="0,10" data-original-title="Fullscreen" onclick="ListarMedicoEstado();"></button>
                    <button class="btn btn-panel" data-action="panel-close" data-toggle="tooltip" data-offset="0,10" data-original-title="Close"></button>
                </div>
            </div>
            <div class="panel-container show">
                <div class="panel-content">
                    <div class="tab-content p-3 @if (@ViewBag.IdPerfilIN == 2) { @Html.Raw("tab-print") }">
                        <div class="tab-pane fade show active" id="tab_medico_estado" role="tabpanel">
                            <div id="dashboard-estado" style="min-height: 300px;"></div>
                        </div>
                        <div class="tab-pane fade" id="tab_medico_estado_detalle" role="tabpanel">
                            <div class="table-responsive">
                                <table class="table table-striped dt-responsive nowrap dataTable no-footer dtr-inline" id="dt-tabla-estado" width="100%">
                                    <thead>
                                        <tr>
                                            <th>Item</th>
                                            <th>Edad</th>
                                            <th>Cantidad</th>
                                        </tr>
                                    </thead>
                                    <tbody></tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



@section scripts{
    @Scripts.Render("~/Scripts/Dashboard/Medicos.js")
}